NEXUS_SERVER_FILES_DIR=/srv/nexus-data
NEXUS_OUTPUT_DIR=/trunk/nexus-backup
NEXUS_TRANSFER_NAME=nexus
STAGE_TO_TRANSFER=true
BACKUP_NAME_PREFIX=nexus-backup
TIMESTAMP_FORMAT=%Y%m%d-%H%M%S
ARCHIVE_SUFFIX=tar.gz
