# Generated at: {{.Descriptor.Timestamp}}
# Target: {{.Source.Target.UserInput}}
# Scanner: {{.Descriptor.Name}} {{.Descriptor.Version}}
# Vulnerability Database Built: {{.Descriptor.DB.Status.Built}}

"Package","Version Installed","Vulnerability ID","Severity"
{{- range .Matches}}
"{{.Artifact.Name}}","{{.Artifact.Version}}","{{.Vulnerability.ID}}","{{.Vulnerability.Severity}}"
{{- end}}
