[Unit]
Description=Datadiode Staging Sync
After=default.target

[Service]
Type=oneshot
WorkingDirectory=/path/to/this/repository
ExecStart=/usr/bin/bash /path/to/this/repository/sync-all.sh

[Install]
WantedBy=default.target
