[Unit]
Description=Datadiode Daily Repository Sync
After=network-online.target datadiode-zot.service datadiode-reposilite.service
Wants=network-online.target datadiode-zot.service datadiode-reposilite.service

[Service]
Type=oneshot
ExecStartPre={{ datadiode_service_root }}/inode-check.sh
ExecStart={{ datadiode_service_root }}/run-reposync.sh

[Install]
WantedBy=default.target
