DATADIODE_DIR_MODE="{{ datadiode_dir_mode }}"
DATADIODE_REPO_ROOT="{{ datadiode_repo_root }}"
DATADIODE_TRUNK_ROOT="{{ datadiode_trunk_root }}"
DATADIODE_STAGE_ROOT="{{ datadiode_stage_root }}"
DATADIODE_TRANSFER_ROOT="{{ datadiode_transfer_root }}"
DATADIODE_ISO_DIR="{{ datadiode_iso_dir }}"
DATADIODE_TRANSFER_ITEMS=({% for item in datadiode_transfer_items %}"{{ item }}" {% endfor %})

DATADIODE_REPOSILITE_JAVA_BIN="{{ datadiode_reposilite_java_bin }}"
DATADIODE_REPOSILITE_JAR_PATH="{{ datadiode_reposilite_jar_path }}"
DATADIODE_REPOSILITE_PORT="{{ datadiode_reposilite_port }}"
DATADIODE_REPOSILITE_ROOT="{{ datadiode_reposilite_root }}"
DATADIODE_REPOSILITE_STORAGE_DIR="{{ datadiode_reposilite_storage_dir }}"
DATADIODE_REPOSILITE_CONFIG_PATH="{{ datadiode_reposilite_config_path }}"

DATADIODE_ZOT_IMAGE="{{ datadiode_zot_image }}"
DATADIODE_ZOT_CONTAINER_NAME="{{ datadiode_zot_container_name }}"
DATADIODE_ZOT_PORT="{{ datadiode_zot_port }}"
DATADIODE_ZOT_DATA_DIR="{{ datadiode_zot_data_dir }}"
DATADIODE_ZOT_CONFIG_PATH="{{ datadiode_zot_config_path }}"
