PROJECT_LOCATION=registry
REGISTRY_CONTAINER_NAME={{ datadiode_zot_container_name }}
REGISTRY_LISTEN_PORT={{ datadiode_local_registry_port }}
REGISTRY_IMAGE={{ datadiode_zot_image }}
REGISTRY_CONFIG_FILE=$SCRIPT_DIR/zot_config.json
REGISTRY_IMAGE_LIST=$SCRIPT_DIR/outside.yaml
REGISTRY_CHART_LIST=$SCRIPT_DIR/charts.yaml
REGISTRY_CHART_NAMESPACE={{ datadiode_local_registry_namespace }}
HELM_CONTAINER_IMAGE={{ datadiode_helm_container_image }}
SYNC_HELM_CHARTS=true
SYNC_KUBEADM_IMAGES=false
KUBERNETES_VERSION={{ datadiode_kubernetes_version }}
REGISTRY_RECONCILE_EXCLUDE_PREFIXES=(
  charts/
)
REGISTRY_RECONCILE_EXCLUDE_REPOS=(
  trivy-db
  trivy-java-db
  grype-db
)

TRIVY_DB_SOURCE=ghcr.io/aquasecurity
TRIVY_IMAGES=(
  trivy-db:2
  trivy-java-db:1
)

REGISTRY_SCAN_TMP_DIR=$SCRIPT_DIR/tmp
