PROJECT_LOCATION=repository

REPOSITORY_BASEURL={{ datadiode_repository_baseurl }}
REPOSITORY_GPG_KEY_FILES=(
{% for key_file in datadiode_repository_gpg_key_files %}
  {{ key_file }}
{% endfor %}
)

NISP_ISO_GLOB={{ datadiode_iso_dir }}/{{ datadiode_nisp_iso_glob }}

OL8_REPOS=(
{% for repo in datadiode_ol8_repos %}
  {{ repo }}
{% endfor %}
)

OL9_REPOS=(
{% for repo in datadiode_ol9_repos %}
  {{ repo }}
{% endfor %}
)

GRYPE_DB_URL={{ datadiode_grype_db_url }}
