TRUNK_ROOT={{ datadiode_stage_root }}
TRANSFER_ROOT={{ datadiode_transfer_root }}

DEFAULT_PLATFORM=linux
DEFAULT_ARCH=amd64

LOCAL_REGISTRY_HOST=localhost
LOCAL_REGISTRY_PORT={{ datadiode_local_registry_port }}
LOCAL_REGISTRY_NAMESPACE={{ datadiode_local_registry_namespace }}
