{
  "distSpecVersion": "1.1.1",
  "storage": {
    "rootDirectory": "/var/lib/zot"
  },
  "http": {
    "address": "{{ datadiode_zot_host }}",
    "port": {{ datadiode_zot_port }}
  },
  "log": {
    "level": "info"
  }
}
